* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #fff;
}

body h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* Header content start */
#head-main {
  z-index: 100;
  position: absolute;
  font-family: Montserrat, sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background: transparent;
  justify-content: space-between;
  /* justify content, spacing since there is difference between divs. */
  align-items: center;
  /* align-items make the a and li's separate with the space between */
  padding: 15px 200px;
  transition: 0.5s ease;
}

#head-main .head-title {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  /* text-shadow: -1px 1px 2px #000,
        1px 2px 6px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000; 
  /* Good to keep as reference for possible text-shadowing */
}

#head-main .nav {
  position: relative;
}

#head-main .nav .nav-items a {
  position: relative;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  font-size: 1em;
  /* If removed, might cause some errors since spacing when it comes to web responsiveness */
  margin-left: 30px;
  transition: 0.3s ease;
}

#head-main .nav .nav-items a:before {
  content: '';
  position: absolute;
  background-color: #fce38a;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

#head-main .nav .nav-items a:hover:before {
  width: 100%;
}

/* Home  */
#home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* display: flex;
  justify-content: center; */
  /* still trying if things will change from centering */
  height: 38em;
  color: #fff;
  background-color: #222;
}

/* Start of banners and sliders */
#home .content-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

#home .content-slider input {
  display: none;
}

#home .content-slider .slider {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

#home .content-slider .slider .banner {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  width: inherit;
  height: inherit;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.5s ease;
}

#home .content-slider .slider .banner .banner-inner-wrapper {
  height: 100%;
  padding-top: 6em;
  background-image: linear-gradient(rgba(252, 185, 125, 1), rgba(170, 186, 158, 1));
  box-sizing: border-box;
}

#home .content-slider .slider .banner .banner-inner-wrapper h2 {
  padding-top: 3em;
  padding-bottom: 0.3em;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 2.5em;
  text-transform: none;
}

#home .content-slider .slider .banner .banner-inner-wrapper h1 {
  font-size: 6em;
  line-height: 95%;
  /* to give an effect of closeness without using padding */
}

#home .content-slider .slider .banner .banner-inner-wrapper .line {
  display: block;
  width: 4em;
  height: 0.1875em;
  margin: 2.5em auto;
  background: #fff;
}

#home .content-slider .slider .banner .banner-inner-wrapper .learn-more-button {
  padding-bottom: 5em;
  z-index: 15 !important;
}

#home .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a {
  padding: 0.5em 2em;
  text-align: center ;
  font-family: Montserrat, sans-serif;
  font-size: 0.875em;
  color: #fff;
  text-transform: uppercase;
  border: 0.1875em solid #fff;
}

#home .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
  /* for hover color learn-more middle */
  color: #f1e6d1;
  border-color: #f1e6d1;
  transition: 0.3s;
}

#home .content-slider nav {
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  z-index: 10;
  text-align: center;
}

#home .content-slider nav .controls {
  display: block;
  width: 70%;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  color: #fff;
}

#home .content-slider nav .controls label {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 3.1em;
  overflow: hidden;
  margin: 0 1em;
  padding-top: 1em;
  text-align: left;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  color: #dfe4dd;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}

#home .content-slider nav .controls label .progressbar {
  /* for the progressbars of non-active buttons */
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #fff;
  z-index: 100;
}

#home .content-slider nav .controls label .progressbar .progressbar-fill {
  /* for the progress effect main-color */
  position: inherit;
  width: inherit;
  height: inherit;
  margin-left: -100%;
  background: #fff;
}

#home .content-slider nav .controls label span {
  font-size: 1.4em;
  font-weight: 700;
}

#home .content-slider nav .controls label span#text-small {
  font-size: 1em;
  font-weight: 300;
}

#home .content-slider nav .controls label:hover {
  color: #46816c;
}


#home .content-slider nav .controls label a:hover {
  color: #46816c;
  text-decoration: none;
}

#home .content-slider #banner1:checked ~ .slider #top-banner-1,
#home .content-slider #banner2:checked ~ .slider #top-banner-2,
#home .content-slider #banner3:checked ~ .slider #top-banner-3,
#home .content-slider #banner4:checked ~ .slider #top-banner-4 {
  opacity: 1;
  z-index: 1;
}

#home .content-slider #banner1:checked ~ nav label:nth-of-type(1),
#home .content-slider #banner2:checked ~ nav label:nth-of-type(2),
#home .content-slider #banner3:checked ~ nav label:nth-of-type(3),
#home .content-slider #banner4:checked ~ nav label:nth-of-type(4) {
  cursor: default;
  color: #46816c;
  transition: all 0.5s;
}

#home .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar,
#home .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar,
#home .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar,
#home .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar {
  background: #46816c;
}

#home .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
#home .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
#home .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
#home .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
  animation: progressBarFill 5s linear;
}
/* End of home/header */
/* ------------------------------------ */

/* Refill-bar progress */
@keyframes progressBarFill {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

/* ------------------------------------ */

/* About page CSS */
.about {
  position: relative;
  background: #7BA098;
  width: 100%;
  padding: 100px 0; 
  height: 100%;
  display: flex;
  justify-content: center;
  /* For making the home content mid from the main div */
  flex-direction: column;
}

.about::before {
  z-index: 1;
  content: '';
  position: absolute;
  background: rgba(233, 218, 133, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.about .about-content {
  z-index: 5;
  color: #fff;
  width: 70%;
  /* for tightening of the content so pictures could be added to right side */
  margin-top: 50px; 
  margin-left: 200px;   
}

.about .about-content h1  {
  font-family: Montserrat, sans-serif;
  font-size: 2.5em;
  font-weight: 700; 
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 55px;
  /* spacing is needed a bit for my h1 to look better and defined */
  margin-bottom: 40px;
  text-shadow: -1px 1px 2px #000,
        1px 2px 6px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

.about .about-content h1 span {
  font-size: 1.2em;
  font-weight: 600;
  
}

.about .about-content p {
  font-family: Montserrat, sans-serif;
  margin-bottom: 65px;
  text-shadow: -1px 1px 2px #000,
        1px 2px 6px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

.about video {
  z-index: 0;
  position: absolute;
  /* subject to change, depending on the final design */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* End of about */

/* ------------------------------------ */

/* Start of trial column */
.trial {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("img/grey-trees.svg");
  background-repeat: repeat-x;
  background-position: bottom;
}

.trial::before {
  z-index: 3;
  display: block;
  content: ' ';
  position: absolute;
  width: 100%;
  height: 380px;
  top: -470px;
  top: calc(-470px + 5vw);
  background-image: url("img/intro-bg-trees_large.svg");
  background-repeat: no-repeat;
  background-size: 3200px;
  background-position: center 100.5%
}

.trial .trial-row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  padding: 0 25px;
}

.trial .trial-row .trial-column {
  z-index: 4;
  position: relative;
  box-sizing: border-box;
  padding: 0 0.3125rem;
  width: 100%;
}

header#head-info {
  text-align: center;
  
}

.heading-mark{
  /* for moving the icon */
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 100%;
}

header#head-info p {
  margin-bottom: 1.5em;
  font-family: Montserrat, sans-serif;
  font-size: 1.3em;
}



/* End of trial column */

/* ------------------------------------ */


/* Start of circular grid CSS */
.circle-grid .circle-grid-row {
  display: flex;
  flex-wrap: wrap;
  
} 

 .circle-grid .circle-grid-row .circle-grid-col {
  position: relative;
  box-sizing: border-box;
}

.circle-grid .circle-item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.circle-grid .circle-item h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  margin: 0;
  /* padding: 0 15px; */
  text-shadow: -1px 1px 2px #000,
      1px 2px 6px #000,
      1px -1px 0 #000,
      -1px -1px 0 #000;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

/* End of CSS for circular grid */

/* ------------------------------------ */

/* CSS for Modals */
.modal-title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.modal-body .p {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400 !important;
}
/* End of CSS for modals */

/* Css for carousel */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  width: 30px;
  height: 48px;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  width: 30px;
  height: 48px;
}
/* End of CSS for carousel */

/* Lodging Start */
.lodging {
  position: relative;
  background: #7BA098;
  width: 100%;
  padding: 100px 0; 
  height: 100%;
  display: flex;
  justify-content: center;
  /* For making the home content mid from the main div */
  flex-direction: column;
}

.lodging::before {
  z-index: 1;
  content: '';
  position: absolute;
  background: rgba(233, 218, 133, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.lodging .lodging-content {
  z-index: 5;
  color: #fff;
  width: 40%;
  /* for tightening of the content so pictures could be added to right side */
  margin-top: 50px; 
  margin-left: 200px;   
}

.lodging .lodging-content span {
  font-size: 1.2em;
  font-weight: 600;
  text-shadow: -1px 1px 2px #000,
        1px 2px 6px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

.lodging .lodging-content p {
  font-family: Montserrat, sans-serif;
  font-size: 1.5em;
  margin-bottom: 65px;
  text-shadow: -1px 1px 2px #000,
        1px 2px 6px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

.lodging .lodging-content a {
  background: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  border-radius: 3px;
  border: #000 solid 1px;
}

.lodging .lodging-content a:hover {
  color: goldenrod;
  transition: 0.5s;
}

.lodging img {
  z-index: 0;
  position: absolute;
  /* subject to change, depending on the final design */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Lodging end */

/* ------------------------------------ */

/* Footer */
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background-image: url(img/footer-bg.jpg);
position: relative;
background-size: cover;
}
.footer-column {
border-bottom: 1px solid #757575;
}
.single-column i {
color: #a5cfbb;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;

}
.cta-text span {
color: #c0c0c0;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo h1 {
  font-size: 50px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #a5cfbb;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
color: #c0c0c0;
line-height: 28px;
}
.footer-social-media-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-media-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-media-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.fa-google{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #a5cfbb;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #a5cfbb;
}
.footer-widget ul li a {
color: #c0c0c0;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #a5cfbb;
  padding: 13px 20px;
  border: 1px solid #a5cfbb;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #c0c0c0;
}
.copyright-text p a{
color: #a5cfbb;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #a5cfbb;
}
.footer-menu li a {
font-size: 14px;
color: #c0c0c0;
}
/* End of Footer */


















/* Media Queries */
@media (max-width: 425px) {
  header#head-main {
    padding: 12px 20px;
  }

  
  
  #home .content-slider .slider .banner .banner-inner-wrapper h2{
    font-size: 1.5rem;
  }

  #home .content-slider .slider .banner .banner-inner-wrapper h1{
    font-size: 3rem;
  }

  #home .content-slider nav .controls {
    width: 100%;
    padding-bottom: 2rem;
  }

  #home .content-slider nav .controls label {
    margin: 0 2rem;
    padding-top: 0.5rem;
    /* text-align: center; */
    margin-top: 1rem;
    height: 3.7rem;
    font-size: 0.75rem;
    
  }

  #home .content-slider nav .controls label span#number {
    display: flex;
    justify-content: center;
  }

  #home .content-slider nav .controls label span#text-small {
    display: flex;
    justify-content: center;
  }

  #head-main .nav {
    /* for pop-up nav-bar button div */
    display: none;
  }

  #head-main .nav.active {
      /* for pop-up nav-bar div */
      position: fixed;
      width: 375px;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(1, 1, 1, 0.5);
  }

  #head-main .nav .nav-items a {
      /* for the text inside the nav-bar */
      font-family: Montserrat, sans-serif;
      font-weight: 300;
      color: #fff;
      margin: 20px;
      /* font-weight: 600; */
  }

  #head-main .nav .nav-items a::before {
      /* for underlining of texts in media query for navbar */
      background: #fce38a;
      margin-top: 5px;
      height: 2px;
  }

  #head-main .nav.active .nav-items {
      /* div box for css for the pop-up nav-bar in media query */
      background: linear-gradient(rgba(252, 185, 125, 1), rgba(170, 186, 158, 1));
      width: 600px;
      margin: 30px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0 5px 25px rgb(1 1 1 / 40%);
  }

  .button-media {
      background: url("img/menu.png");
      background-repeat: no-repeat;
      background-size: 30px;
      background-position: center;
      width: 45px;
      height: 45px;
      cursor: pointer;
      transition: 0.3s ease;
      
  }

  .button-media.active {
      position: sticky;
      z-index: 500;
      background: url("img/close.png");
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: center;
      transition: 0.3s ease;
  }

  .about .about-content {
    margin-left: 20px;
  }

  .trial::before {
    top: -360px;
    top: calc(-360px + 5vw);
  }

  .trial{
    background-image: url("img/grey-trees.svg");
    width: 100%;
    height: 100%;
    background-size: 800px;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .lodging .lodging-content {
    margin-left: 20px;
  }

}

@media (min-width: 1024px) {
  .trial::before {
    top: -420px;
    top: calc(-420px + 5vw);
  }

}
